.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
}

.about-heading {
  font-size: 40px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-text {
  text-align: left;
  max-width: 80%;
  font-size: 20px;
}

.icon-large {
  margin-top: 100px;
  width: 256px;
  height: 256px;
}

@media (max-width: 420px) {
  .about-text-box {
    width: 90vw; 
    margin-bottom: 20px;
  }
}
