.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-text {
  max-width: 846px;
  font-size: 18px;
}

.about-text-box {
  /* This works, but isn't mobile friendly */
  width: 846px;
  height: 250px;
}

@media (max-width: 420px) {
  .about-text-box {
    width: 90vw; 
    margin-bottom: 20px;
  }
}
