.comments-section {
  background-color: white;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.comments-section-heading {
  font-size: 36px;
  text-align: start;
  margin-bottom: 10px;
}
.comments-container {
  width: 100%;
  /* display: grid; */
  /* background-color: grey;
  row-gap: 1px; */
}

.comment-separator {
  border: 0.5px solid #9e9e9e;
  color: #9e9e9e;
  background-color: #9e9e9e;
  width: 100%;
  height: 0px;
}

.comments-text-box {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #969696;
  height: 60px; /* should be modified when comments are availabe */
  outline: none;
  padding: 10px 10px;
  font-size: 14px;
  letter-spacing: -0.015em;
  color: #4D4D4D;
}

.comments-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 324px;
  width: 80px;
  height: 24px;
  background: #F26475;
  border-radius: 20px;
  color: #FFFFFF;
  border: none;
  font-size: 15px;
  letter-spacing: -0.015em;
  cursor: pointer;
}