.home-page {
  display: grid;
  grid-template-columns: 60% 30%;
  column-gap: 100px;
  margin-left: 50px;
  margin-right: 40px;
  margin-top: 80px;
}

@media (max-width: 420px) {
  .home-page {
    display: flex;
    flex-direction: column;
  }

}
