/* .option-btn {
  background: linear-gradient(to right, #f26475 50%, #ffc6cd 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  border-radius: 20px;
  padding: 20px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  margin-bottom: 15px;
  font-size: 30px;
  filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.25));
  outline: none;
  cursor: pointer;
} */
/* @keyframes slideInFromLeft {
  0% {
    background-position: right bottom;
  }
  100% {
    background-position: calc(100% - 10%) bottom;
  }
} */
.add-animation {
  animation: 1s ease-out 1 slideInFromLeft forwards;
}

.pollbutton-table-question {
  width: 100%;
  text-align: left;
  padding-left: 28px;
  padding-right: 20px;
}

.pollbutton-icon {
  /* "sub" works because it lowers the icon */
  vertical-align: sub;
  display: inline;
}

@media (max-width: 420px) {
  .pollbutton-table-question {
    font-size: 18px;
    padding-left: 10px;
  }

  .pollbutton-icon {
    font-size: 18px;
    margin-left: -20px;
  }

  .percent {
    font-size: 15px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 20px;
  }

}
