.question {
  font-size: 30px;
  padding-bottom: 0px;
}

.old-question {
  font-size: 24px;
}

@media (max-width: 420px) {
  .question {
    font-size: 20px;
  }

  .old-question {
    font-size: 15px;
  }
}
