.signup {
    z-index: 100;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -13%;
    margin-top: -12.5%;
    height: 460px;
    width: 440px;
    background: #FFFFFF;
}

.signup-header {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 40px;

    letter-spacing: -0.015em;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 72px;

    color: #000000;
}

.signup-separator {
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 0.5px solid #9e9e9e;
    color: #9e9e9e;
    background-color: #9e9e9e;
    width: 318px;
    height: 0px;
}

.signup-submission-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 320px;
    margin: auto;
    margin-top: -10px;
    margin-bottom: 10px;

    color: #FFFFFF;
    background-color: #F26475;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 16px;

    cursor: pointer;
}

.signup-google-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 320px;
    margin: auto;
    margin-top: -20px;
    margin-bottom: 30px;

    color: #FFFFFF;
    background-color: #4285F4;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px 40px;
    font-size: 16px;

    cursor: pointer;
}

.signup-goto-login {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 440px;
    margin: auto;

    color: #F26475;
    background-color: #F1F1F1;
    border: none;
    box-sizing: border-box;
    padding: 20px 40px;
    font-size: 16px;

    cursor: pointer;
}
